<!DOCTYPE html>
<html lang="en">
  <head>
{{> head}}
{{> head-scripts}}
  </head>
  <body class="article {{page.attributes.type}}">
{{> header theme="lightbend" url="https://developer.lightbend.com/docs/"}}
{{> main}}
{{> footer}}
  </body>
</html>