<!DOCTYPE html>
<html lang="en">
  <head>
{{> head}}
{{> head-scripts}}
  </head>
  <body class="article {{page.attributes.type}} lightbend-cloudstate">
{{> header theme="lightbend-cloudstate" url="https://www.lightbend.com/cloudstate-by-lightbend" site-id-url="https://developer.lightbend.com/docs/"}}
{{> main}}
{{> footer}}
  </body>
</html>